schema/tosca/ToscaTypes_XMLconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2018 Politecnico di Torino and others.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->


<xsd:schema  xmlns="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraphDefinition"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12/ToscaVerigraphDefinition">

  <!-- Generic Configuration type, contains a single configuration element -->
  <xsd:element name="Configuration">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="antispamConfiguration">
          <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
              <xsd:element name="source" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="cacheConfiguration">
          <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
              <xsd:element name="resource" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="dpiConfiguration">
          <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
              <xsd:element name="notAllowed" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="endhostConfiguration">
          <xsd:complexType>
            <xsd:attribute name="body" type="xsd:string" />
            <xsd:attribute name="sequence" type="xsd:integer" />
            <xsd:attribute name="protocol">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="HTTP_REQUEST" />
                <xsd:enumeration value="HTTP_RESPONSE" />
                <xsd:enumeration value="POP3_REQUEST" />
                <xsd:enumeration value="POP3_RESPONSE" />
              </xsd:restriction>
            </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="email_from" type="xsd:string" />
            <xsd:attribute name="url" type="xsd:string" />
            <xsd:attribute name="options" type="xsd:string" />
            <xsd:attribute name="destination" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="endpointConfiguration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="fieldmodifierConfiguration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="firewallConfiguration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="elements" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="source" type="xsd:string" />
                    <xsd:element name="destination" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="mailclientConfiguration">
          <xsd:complexType>
            <xsd:attribute name="mailserver" type="xsd:string"
              use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="mailserverConfiguration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="natConfiguration">
          <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
              <xsd:element name="source" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="vpnaccessConfiguration">
          <xsd:complexType>
            <xsd:attribute name="vpnexit" type="xsd:string" use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="vpnexitConfiguration">
          <xsd:complexType>
            <xsd:attribute name="vpnaccess" type="xsd:string"
              use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="webclientConfiguration">
          <xsd:complexType>
            <xsd:attribute name="nameWebServer" type="xsd:string"
              use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="webserverConfiguration">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
      <xsd:attribute name="confID" type="xsd:string" />
      <xsd:attribute name="confDescr" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>


   <!--   <xsd:element name="firewallConfiguration">
        <xsd:complexType >
            <xsd:sequence>
                <xsd:element ref="elements" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="elements">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="source" type="xsd:string" />
                <xsd:element name="destination" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="endhostConfiguration">
        <xsd:complexType>
            <xsd:attribute name="body" type="xsd:string" />
            <xsd:attribute name="sequence" type="xsd:integer" />
            <xsd:attribute name="protocol" type="protocolTypes" />
            <xsd:attribute name="email_from" type="xsd:string" />
            <xsd:attribute name="url" type="xsd:string" />
            <xsd:attribute name="options" type="xsd:string" />
            <xsd:attribute name="destination" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="endpointConfiguration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
  <xsd:element name="antispamConfiguration">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="cacheConfiguration">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="resource" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="dpiConfiguration">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="notAllowed" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailclientConfiguration">
        <xsd:complexType>
            <xsd:attribute name="mailserver" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailserverConfiguration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="natConfiguration">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnaccessConfiguration">
        <xsd:complexType>
            <xsd:attribute name="vpnexit" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnexitConfiguration">
        <xsd:complexType>
            <xsd:attribute name="vpnaccess" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webclientConfiguration">
        <xsd:complexType>
            <xsd:attribute name="nameWebServer" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webserverConfiguration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="fieldmodifierConfiguration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

  <xsd:simpleType name="functionalTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FIREWALL" />
            <xsd:enumeration value="ENDHOST" />
            <xsd:enumeration value="ENDPOINT" />
            <xsd:enumeration value="ANTISPAM" />
            <xsd:enumeration value="CACHE" />
            <xsd:enumeration value="DPI" />
            <xsd:enumeration value="MAILCLIENT" />
            <xsd:enumeration value="MAILSERVER" />
            <xsd:enumeration value="NAT" />
            <xsd:enumeration value="VPNACCESS" />
            <xsd:enumeration value="VPNEXIT" />
            <xsd:enumeration value="WEBCLIENT" />
            <xsd:enumeration value="WEBSERVER" />
            <xsd:enumeration value="FIELDMODIFIER" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="protocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTTP_REQUEST" />
            <xsd:enumeration value="HTTP_RESPONSE" />
            <xsd:enumeration value="POP3_REQUEST" />
            <xsd:enumeration value="POP3_RESPONSE" />
        </xsd:restriction>
    </xsd:simpleType>

  -->

</xsd:schema>