schema/xml_components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2017 Politecnico di Torino and others.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Apache License, Version 2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="functionalTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FIREWALL" />
            <xsd:enumeration value="ENDHOST" />
            <xsd:enumeration value="ENDPOINT" />
            <xsd:enumeration value="ANTISPAM" />
            <xsd:enumeration value="CACHE" />
            <xsd:enumeration value="DPI" />
            <xsd:enumeration value="MAILCLIENT" />
            <xsd:enumeration value="MAILSERVER" />
            <xsd:enumeration value="NAT" />
            <xsd:enumeration value="VPNACCESS" />
            <xsd:enumeration value="VPNEXIT" />
            <xsd:enumeration value="WEBCLIENT" />
            <xsd:enumeration value="WEBSERVER" />
            <xsd:enumeration value="FIELDMODIFIER" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="protocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTTP_REQUEST" />
            <xsd:enumeration value="HTTP_RESPONSE" />
            <xsd:enumeration value="POP3_REQUEST" />
            <xsd:enumeration value="POP3_RESPONSE" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="transportProtocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TCP" />
            <xsd:enumeration value="UDP" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="restrictionTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SELECTION" />
            <xsd:enumeration value="SET" />
            <xsd:enumeration value="SEQUENCE" />
            <xsd:enumeration value="LIST" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="resultTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SAT" />
            <xsd:enumeration value="UNSAT" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
	<xsd:complexType name="packetType">
	    <xsd:attribute name="body" type="xsd:string" />
	    <xsd:attribute name="sequence" type="xsd:integer" />
	    <xsd:attribute name="protocol" type="protocolTypes" />
	    <xsd:attribute name="email_from" type="xsd:string" />
	    <xsd:attribute name="url" type="xsd:string" />
	    <xsd:attribute name="options" type="xsd:string" />
    	<xsd:attribute name="destination" type="xsd:string" />
    </xsd:complexType>
    <xsd:complexType name="addressType">
	    <xsd:attribute name="name" type="xsd:string" />
   	</xsd:complexType>
    <xsd:element name="graphs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="graph" maxOccurs="unbounded"
                    minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="uniqueGraph">
            <xsd:selector xpath="graph" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="graph">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="node" maxOccurs="unbounded"/>
                <xsd:element ref="policies" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
        </xsd:complexType>
        <xsd:unique name="uniqueNodeId">
            <xsd:selector xpath="node" />
            <xsd:field xpath="@id" />
        </xsd:unique>
        <xsd:key name="keyNode">
            <xsd:selector xpath="node" />
            <xsd:field xpath="@name" />
        </xsd:key>
        <xsd:keyref name="keyRefNodeSrc" refer="keyNode">
            <xsd:selector xpath="node/neighbour" />
            <xsd:field xpath="@name" />
        </xsd:keyref>
        
        <!-- We also need to define the integrity constraints for all the occurrences of source and destination -->
        
        <!-- Firewall -->
        <xsd:keyref name="keyRefFirewallSrc" refer="keyNode">
            <xsd:selector xpath="node/configuration/firewall/elements" />
            <xsd:field xpath="source" />
        </xsd:keyref>
        <xsd:keyref name="keyRefFirewallDest" refer="keyNode">
            <xsd:selector xpath="node/configuration/firewall/elements" />
            <xsd:field xpath="destination" />
        </xsd:keyref>
        <!-- NAT -->
        <xsd:keyref name="keyRefNAT" refer="keyNode">
            <xsd:selector xpath="node/configuration/nat/source" />
            <xsd:field xpath="@name" />
        </xsd:keyref>
        <!-- Cache -->
        <xsd:keyref name="keyRefCache" refer="keyNode">
            <xsd:selector xpath="node/configuration/cache/resource" />
            <xsd:field xpath="@name" />
        </xsd:keyref>
        <!-- Antispam  -->
        <xsd:keyref name="keyRefAntispam" refer="keyNode">
            <xsd:selector xpath="node/configuration/antispam/source" />
            <xsd:field xpath="@name" />
        </xsd:keyref>
        <!-- WebClient / WebServer -->
        <xsd:key name="keyWebServer">
            <xsd:selector xpath="node/configuration/webserver" />
            <xsd:field xpath="name" />
        </xsd:key>
        <xsd:keyref name="keyRefWebClient" refer="keyWebServer">
            <xsd:selector xpath="node/configuration/webclient" />
            <xsd:field xpath="@nameWebServer" />
        </xsd:keyref>
        <xsd:key name="keyMailServer">
            <xsd:selector xpath="node/configuration/mailserver" />
            <xsd:field xpath="name" />
        </xsd:key>
        <xsd:keyref name="keyRefMailClient" refer="keyMailServer">
            <xsd:selector xpath="node/configuration/mailclient" />
            <xsd:field xpath="@mailserver" />
        </xsd:keyref>
        <!-- VPN -->
        <xsd:key name="keyVPNAccess">
            <xsd:selector xpath="node/configuration/vpnaccess" />
            <xsd:field xpath="name" />
        </xsd:key>
        <xsd:keyref name="keyRefVPNAccess" refer="keyVPNAccess">
            <xsd:selector xpath="node/configuration/vpnexit" />
            <xsd:field xpath="@vpnaccess" />
        </xsd:keyref>
        <xsd:key name="keyVPNExit">
            <xsd:selector xpath="node/configuration/vpnexit" />
            <xsd:field xpath="name" />
        </xsd:key>
        <xsd:keyref name="keyRefVPNExit" refer="keyVPNExit">
            <xsd:selector xpath="node/configuration/vpnaccess" />
            <xsd:field xpath="@vpnexit" />
        </xsd:keyref>
        
        <!-- Integrity constraints on the policies that must refer to existing nodes -->
        <xsd:keyref name="keyRefPolicySrc" refer="keyNode">
            <xsd:selector xpath="policies/policy" />
            <xsd:field xpath="@source" />
        </xsd:keyref>
        <xsd:keyref name="keyRefPolicyDest" refer="keyNode">
            <xsd:selector xpath="policies/policy" />
            <xsd:field xpath="@destination" />
        </xsd:keyref>
        <xsd:keyref name="keyRefPolicyFunction" refer="keyNode">
            <xsd:selector xpath="policies/policy/restrictions/exactFunction" />
            <xsd:field xpath="name" />
        </xsd:keyref>
    </xsd:element>
    <xsd:element name="node">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="neighbour" maxOccurs="unbounded"
                    minOccurs="0" />
                <xsd:element ref="configuration" maxOccurs="1"
                    minOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
            <xsd:attribute name="functional_type" type="functionalTypes"
                use="required" />
        </xsd:complexType>
        <xsd:unique name="uniqueNeighbourId">
            <xsd:selector xpath="neighbour" />
            <xsd:field xpath="@id" />
        </xsd:unique>
        <xsd:unique name="uniqueConfigurationId">
            <xsd:selector xpath="neighbour" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="neighbour">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="configuration">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="firewall" />
                <xsd:element ref="endhost" />
                <xsd:element ref="endpoint" />
                <xsd:element ref="antispam" />
                <xsd:element ref="cache" />
                <xsd:element ref="dpi" />
                <xsd:element ref="mailclient" />
                <xsd:element ref="mailserver" />
                <xsd:element ref="nat" />
                <xsd:element ref="vpnaccess" />
                <xsd:element ref="vpnexit" />
                <xsd:element ref="webclient" />
                <xsd:element ref="webserver" />
                <xsd:element ref="fieldmodifier" />
            </xsd:choice>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
            <xsd:attribute name="description" type="xsd:string"
                use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="paths">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element name="message" type="xsd:string" />
                <xsd:element name="path" type="xsd:string"
                    maxOccurs="unbounded" />
            </xsd:choice>
            <xsd:attribute name="source" type="xsd:string"
                use="required" />
            <xsd:attribute name="destination" type="xsd:string"
                use="required" />
            <xsd:attribute name="direction" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="firewall">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="elements" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="elements">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="source" type="xsd:string" />
                <xsd:element name="destination" type="xsd:string" />
                <xsd:element name="srcPort" type="xsd:positiveInteger" />
                <xsd:element name="destPort" type="xsd:positiveInteger" />
                <xsd:element name="protocol" type="transportProtocolTypes" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="endhost" type="packetType" />
    <xsd:element name="endpoint">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="antispam">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="addressType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="cache">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="resource" type="addressType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="dpi">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="notAllowed" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailclient">
        <xsd:complexType>
            <xsd:attribute name="mailserver" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailserver">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="nat">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="addressType" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnaccess">
        <xsd:complexType>
        	<xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="vpnexit" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnexit">
        <xsd:complexType>
        	<xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="vpnaccess" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webclient">
        <xsd:complexType>
            <xsd:attribute name="nameWebServer" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webserver">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="fieldmodifier" type="packetType"/>
    
    <xsd:element name="policies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="policy" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="uniquePolicy">
            <xsd:selector xpath="policy" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="policy">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="trafficflow" type="packetType"/>
                <xsd:element ref="restrictions"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"
                use="required" />
            <xsd:attribute name="name" type="xsd:string"
                use="required" />
            <xsd:attribute name="source" type="xsd:string"
                use="required" />
            <xsd:attribute name="destination" type="xsd:string"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="restrictions">
        <xsd:complexType>
        	<xsd:choice maxOccurs="unbounded">
        		<xsd:element ref="genericFunction"/>
        		<xsd:element ref="exactFunction" />
        	</xsd:choice>
            <xsd:attribute name="type" type="restrictionTypes"
                use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="genericFunction">
    	<xsd:complexType>
           <xsd:attribute name="type" type="functionalTypes" use="required"/>
       	</xsd:complexType>
    </xsd:element>
    <xsd:element name="exactFunction">
		<xsd:complexType>
           <xsd:sequence>
               <xsd:element name="name" type="xsd:string" />
           </xsd:sequence>
       	</xsd:complexType>
	</xsd:element>
</xsd:schema>